@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-text-color: #003154;
  --text-light: #ffffff;
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-style: normal;
  background-color: #ceefff;
  color: var(--primary-text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.pin {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 15px;
  gap: 5px;
}

.pin > span {
  font-size: 16px;
  font-weight: 500;
}

.task {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 15px;
  gap: 5px;
}

.task > span {
  font-size: 16px;
  font-weight: 500;
}

.createTask-page {
  /* min-height: 100vh; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTask-page h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.createTask-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.createTask-form label {
  font-weight: 500;
}

.createTask-form input,
.createTask-form textarea,
.createTask-form select {
  border: none;
  padding: 8px;
  border-radius: 15px;
  width: 100%;
  background-color: white;
}

textarea {
  resize: none;
  height: 80px;
}

/* .submit-btn {
  background: #0288d1;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
} */

.createBtn {
  border-radius: 16px;
  background-color: #4eceed;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
  font-weight: 600;
  /* width: 90px; */
  /* height: 30px; */
  font-size: medium;
  padding: 5px 25px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
